package librarymoviehtml

import moviedom "github.com/carlosarguelles/jellygo/internal/movie/domain"

templ Index(movies []*moviedom.Movie) {
	<ul>
		for _, movie := range movies {
			<li>{ movie.Meta.Title }, Path : { movie.Path }</li>
		}
	</ul>
}
